.title {
  font-size: 28px;
}

.des {
  font-size: 12px;
}

/* 之前的 */

@charset "UTF-8";
/*---Public CSS---*/
html,
body,
div,
applet,
object,
iframe,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
button,
select,
textarea,
img,
table,
th,
td,
article,
aside,
footer,
header,
hgroup,
menu,
nav,
section,
audio,
video,
a,
i {
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 none;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

html {
  height: auto !important;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.5 !important;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  top: 0px !important;
}

.overflow-hide {
  overflow: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button,
input,
select,
textarea,
img,
.button {
  vertical-align: middle;
  outline: 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

input,
textarea {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

select {
  padding-right: 14px;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #705a39;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

a:hover {
  color: initial;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

b {
  font-weight: 500;
}

em {
  font-style: normal;
}

.bold {
  font-weight: 500;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.table {
  display: table;
}
